body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto";
  overflow: hidden;
  color: #415368;
}

html {
  background: url("pexels-lukas-hartmann-1462012-small.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.header {
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.headerCont {
  height: 65px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: grid;
  justify-content: center;
  background-color: #ffffff;
  color: #21364e;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 800;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.headerCont2 {
  height: 65px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 1fr;
  background-color: #21364e;
  color: #ffffff;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 800;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  background: url("logo.png");
  height: 65px;
  width: 65px;
  background-size: cover;
}

.headerText {
  min-width: 100px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.glass {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 12px rgba(255, 255, 255, 0.3);
}

.overlay.glass {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 12px rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Place it behind other content */
}

/* Style the content container */
.content-container {
  position: relative; /* Ensure the overlay is positioned within this container */
  z-index: 1; /* Place it above the background */
}

.projectGlass {
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 12px rgba(255, 255, 255, 0.3);
}

.splashCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.splashImg {
  height: 205px;
  width: 295px;
  background: url("ferretmountain-trans-290px.png") no-repeat center center;
  background-size: cover;
  margin-left: 5px;
}

.splashImgCont:hover {
  cursor: pointer;
}

.meStuff {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}
.name {
  font-size: xx-large;
  font-weight: 800;
}

.professions {
  list-style: none;
  padding: 0;
  margin: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: large;
}

.button-27 {
  appearance: none;
  background-color: #21364e;
  border: 1px solid #415368;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  max-width: 130px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27 {
  appearance: none;
  background-color: #21364e;
  border: 1px solid #415368;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  max-width: 130px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.dropdown-container {
  display: none;
  text-align: center;
  line-height: 50px;
  font-size: large;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: #21364e;
}

@keyframes dropandbounce {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.bottomCont {
  display: flex;
  justify-content: center;
  position: absolute;
  width: auto;
  bottom: 10px;
  font-size: small;
  width: 100vw;
}

.aboutCont {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
}

.aboutBox,
.projectBox {
  background-color: #ffffff;
  max-width: 650px;
  border-radius: 20px;
  padding: 2em;
  padding-top: 2em;
}

.aboutTop {
  font-size: xx-large;
  font-weight: 800;
  color: #3f87c2;
}

.text {
  margin-bottom: 20px;
}

.about {
  font-size: large;
}

.langs {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  color: #3f87c2;
  font-weight: 800;
}

.lang {
  display: grid;
  justify-content: center;
}

.lang_icon {
  display: flex;
  margin-top: 15px;
  height: 50px;
  width: 100px;
}

.langText {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 15px;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #3f87c2;
  display: none;
}

.about,
.projects,
.contact {
  color: white;
}

.dropText:hover {
  transition: 0.1s;
  color: #21364e;
}

ul.dropdown-menu li:hover {
  background-color: #21364e;
  color: #21364e;
}

.visible {
  display: block;
  transform-origin: top;
}

.aboutText {
  color: #304f72;
  font-size: large;
}

.button-28 {
  appearance: none;
  background-color: #3f87c2;
  border: 1px solid #3f87c2;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  max-width: 145px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.projectBox {
  background-color: #ffffff;
  max-width: 650px;
  border-radius: 20px;
  padding: 2em;
  padding-top: 2em;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 20px;
}

.project {
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.project p {
  font-size: 1rem;
}

h2 {
  color: #3f87c2;
}

.headerCont3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21364e;
  height: 20px;
  padding: 10px;
}

.icon {
  width: 23px;
  height: 23px;
  fill: white;
  margin: 0 10px;
}

.projectImage {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
}

@media screen {
  @media only screen and (min-width: 920px) {
    .projectBox {
      max-width: 1200px;
      margin-left: 100px;
      margin-right: 100px;
    }

    .projectGlass {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      max-height: 100vh;
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0 1px 12px rgba(255, 255, 255, 0.3);
      z-index: -1;
    }
  }
}

@media only screen and (max-width: 920px) {
  body,
  html {
    overflow: auto;
  }

  .footerCont,
  .bottomText {
    display: none;
  }

  .headerCont2 {
    display: none;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .dropdown-container {
    display: block;
  }

  .glass {
    top: 115px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .splashCont {
    padding: 5px;
    padding-top: 10%;
    height: auto;
    display: grid;
  }

  .splashImg {
    margin-top: 30px;
    height: 205px;
    width: 295px;
  }

  a {
    text-decoration: none;
  }

  .aboutCont .aboutBox,
  .aboutCont .projectBox {
    padding-bottom: 20px;
    margin: 20px;
  }

  .aboutCont {
    padding-top: 0px; /* This will override the padding-top for screens with max-width: 920px */
  }

  .langs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects-container {
    grid-template-columns: 1fr; /* Switch to a single column on smaller screens */
  }
}

.overflow-auto {
  overflow: auto;
}

.imgProjCont {
  display: flex;
  justify-content: center;
}

.battleshipImage {
  background: url("battleship.png");
}

.dealerPortalImage {
  background: url("dealerportal.png");
}

.todoListImage {
  background: url("todolist.png");
}

.weatherAppImage {
  background: url("weatherapp.png");
}

.cvBuilderImage {
  background: url("cvbuilder.png");
}

.projectImage {
  width: 100%;
  padding-top: 58.33%; /* (image-height / image-width) * 100% */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
