.glass {
  margin: 10px;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto";
  font-size: 22px;
  overflow: hidden;
}

html {
  background: url("pexels-lukas-hartmann-1462012.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: rgb(72, 78, 85);
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
