body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto";
  font-size: 22px;
  overflow: hidden;
}

html {
  background: url("pexels-lukas-hartmann-1462012-small.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: rgb(72, 78, 85);
}

.header {
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.headerCont {
  height: 65px;
  display: grid;
  justify-content: center;
  background-color: #ffffff;
  color: #21364e;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 800;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.headerCont2 {
  height: 65px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 1fr;
  background-color: #21364e;
  color: #ffffff;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 800;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  background: url("logo.png") no-repeat center center fixed;
  height: 65px;
}

.headerText {
  min-width: 100px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.glass {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 12px rgba(255, 255, 255, 0.3);
}

.splashCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.splashImg {
  height: 205px;
  width: 295px;
  background: url("ferretmountain-trans-290px.png") no-repeat center center;
  background-size: cover;
  margin-left: 5px;
}

.splashImgCont:hover {
  cursor: pointer;
}

.meStuff {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}
.name {
  font-size: xx-large;
  font-weight: 800;
}

.professions {
  list-style: none;
  padding: 0;
  margin: 10px;
  margin-bottom: 20px;
  font-weight: 500;
}

.footerCont {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer {
  background-color: #21364e;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  font-size: medium;
}

.button-27 {
  appearance: none;
  background-color: #21364e;
  border: 2px solid #21364e;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  max-width: 130px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.dropdown-container {
  display: none;
  text-align: center;
  line-height: 50px;
  font-size: large;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: #21364e;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);
  display: none;
}

ul.dropdown-menu li:hover {
  background-color: #ffffff;
  color: #21364e;
}

.visible {
  display: block;
  transform-origin: top;
}

@keyframes dropandbounce {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.bottomCont {
  display: flex;
  justify-content: center;
  position: absolute;
  width: auto;
  bottom: 140px;
  font-size: small;
  width: 100vw;
}

@media only screen and (max-height: 920px) {
  body,
  html {
    overflow: auto;
  }

  .footerCont,
  .bottomText {
    display: none;
  }

  .headerCont2 {
    display: none;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .dropdown-container {
    display: block;
  }

  .glass {
    position: fixed;
    top: 115px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .splashCont {
    padding: 5px;
    padding-top: 10%;
    height: auto;
    display: grid;
  }

  .splashImg {
    margin-top: 30px;
    height: 205px;
    width: 295px;
  }

  a {
    text-decoration: none;
  }
}
